{{#if productos.length }}
    {{#each productos}}
    <ul>
        <li>{{title}}</li>
        <li>{{description}}</li>
        <li>{{price}}</li>
        <li>{{}}</li>
        <li>{{}}</li>
        <li>{{}}</li>
    </ul>
    {{#/each}}
    {{else}}
    <p>there is no products on stock</p>
{{/if}}