{{!-- {{#if products.length }}
    {{#each products}} --}}
    {{!-- <ul>
        <li>{{title}}</li>
        <li>{{products.description}}</li>
        <li>{{products.price}}</li>       
    </ul> --}}
    {{!-- {{#/each}}
{{else}}
    <p>there is no products on stock</p>
{{/if}} --}}